.parent {
  display: flex;
  justify-content: space-between;
}
textarea {
  width: 100%;
  font-family: monospace;
}

.toolbar button {
  margin-right: 5px;
}

.preview {
  width: 50%;
}

:host >>> .p-toast-message {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px dotted white;
}

:host >>> .p-toast-icon-close {
  color: white;
}
