<div class="center-main">
  <p-toast></p-toast>
  <div *ngIf="content; else notFound">
    <div class="content" *ngIf="content.html_code">
      <pre
        class="code-block"
      ><code class="language-html">{{ content.html_code }}</code></pre>
    </div>
    <div class="content" *ngIf="content.css_code">
      <pre
        class="code-block"
      ><code class="language-css">{{ content.css_code }}</code></pre>
    </div>
    <div class="content" *ngIf="content.javascript_code">
      <pre
        class="code-block"
      ><code class="language-javascript">{{ content.javascript_code }}</code></pre>
    </div>

    <button class="button-style" (click)="approvedPost()">Approved</button>

    <button class="button-style" (click)="rejectedPost()">Rejected</button>
  </div>
</div>
<ng-template #notFound>
  <h2>No posts!</h2>
</ng-template>
