<div class="s-layout">
  <!-- Sidebar -->
  <div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" href="#0">
      <i class="fa fa-bars"></i>
    </a>

    <nav class="s-sidebar__nav">
      <ul>
        <li>
          <a class="s-sidebar__nav-link" href="#0">
            <i class="fa fa-camera"></i><em><a routerLink="/todo">TO-DO</a></em>
          </a>
        </li>

        <li>
          <a class="s-sidebar__nav-link" href="#0">
            <i class="fa fa-camera"></i
            ><em><a routerLink="/editor">EDITOR</a></em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" href="#0">
            <i class="fa fa-camera"></i
            ><em><a routerLink="/showpost">MY-COMPONENTS</a></em>
          </a>
        </li>

        <li>
          <a class="s-sidebar__nav-link" href="#0">
            <i class="fa fa-camera"></i
            ><em><a (click)="logout()">Logout</a></em>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
