:root {
  --background: #101114;
  --primary-color: #1c1d20;
  --secondary-color: #4a4d57;
  --accent-color: #00ffc4;
  --text-color: #f9f9f9;
  --other-color: #ff0033;
}

* {
  margin: 0;
  padding: 0;
}

:host >>> .p-toast-message {
  background-color: black; /* Green */
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px dotted white;
}

:host >>> .p-toast-icon-close {
  color: white;
}

.icon-container {
  position: fixed;
  top: 6px;
  right: 10px;
  cursor: pointer;
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid #4a4d57;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body {
  min-height: 70vh;
  padding: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  margin: 100px 0px 20px 0px;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 170px;
  color: #6b7280;
}

.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid #4a4d57;
  border-radius: 1000px;
  font: inherit;
  color: #f9f9f9;
  caret-color: #00ffc4;
}

#todo-input:focus {
  outline: none;
}

form {
  position: relative;
}

#add-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6b7280;
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 600;
  color: #101114;
  cursor: pointer;
}

.todo {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border-radius: 1000px;
  font: inherit;
  color: #f9f9f9;
  margin-bottom: 10px;
  height: 5vh;
  padding: 0 16px;
  background-color: #1c1d20;

  align-items: center;
  display: flex;

  justify-content: space-between;
}

.todo .todo-text {
  padding: 15px;
  padding-right: 0;
  transition: 200ms ease;
  align-items: center;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6b7280;
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 600;
  color: #101114;
  cursor: pointer;
}

.delete-button svg {
  transition: 200ms ease;
}

.delete-button:hover svg {
  fill: #ff0033;
}

.text-color {
  color: white;
}
.text-button {
  background-color: #6b7280;
  color: #101114;
  border-radius: 1000px;
  padding: 0 30px;
  font-weight: 600;
  height: 100%;
  border: none;
  margin-left: auto;
  top: 0;
  right: 0;
}

#todo-text {
  color: white;
  display: flex;
}

@media (max-width: 500px) {
  html {
    font-size: 12pt;
  }
  #add-button {
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }
  h1 {
    margin-top: 50px;
    font-size: 15vw;
  }
}
