:root {
  --background: #101114;
  --primary-color: #1c1d20;
  --secondary-color: #4a4d57;
  --accent-color: #00ffc4;
  --text-color: #f9f9f9;
  --other-color: #ff0033;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
}

.main-body {
  min-height: 70vh;
  padding: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 100px 0px 20px 0px;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 170px;
  color: #6b7280;
}

.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid #4a4d57;
  border-radius: 1000px;
  font: inherit;
  color: #f9f9f9;
  caret-color: #00ffc4;
}

#todo-input:focus {
  outline: none;
}

form {
  position: relative;
}

#add-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6b7280;
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 600;
  color: #101114;
  cursor: pointer;
}

.todo {
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: #1c1d20;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.todo .todo-text {
  padding: 15px;
  padding-right: 0;
  flex-grow: 1;
  transition: 200ms ease;
}

.delete-button {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-button svg {
  transition: 200ms ease;
}

.delete-button:hover svg {
  fill: #ff0033;
}

.custom-checkbox {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}

.text-color {
  color: white;
}
.text-button {
  margin-left: 550px;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--secondary-color);
}

input[type="checkbox"] {
  display: none;
}

#todo-text {
  color: white;
}
.todo input[type="radio"] {
  margin-right: 5px; /* Adjust spacing between the radio checkbox and the todo text */
}

@media (max-width: 500px) {
  html {
    font-size: 12pt;
  }
  #add-button {
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }
  h1 {
    margin-top: 50px;
    font-size: 15vw;
  }
}
