.center-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-body {
  width: 80vw;
  height: 80vh;
}

:host >>> .p-toast-message {
  background-color: black; /* Green */
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px dotted white;
}

:host >>> .p-toast-icon-close {
  color: white;
}

.content {
  width: 90vw;
  color: white;
}

.button-style {
  width: 8vw;
  height: 4vh;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  margin-right: 5px;
  margin-top: 10px;
}

.custom-copy-button {
  background-color: #4caf50; /* Green color */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-copy-button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

.button-style:disabled {
  filter: blur(2px); /* Apply blur effect when the button is disabled */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .button-style {
    width: 12vw; /* Adjust width for smaller screens */
    height: 5vh; /* Adjust height for smaller screens */
  }
}

@media (max-width: 500px) {
  .button-style {
    width: 17vw; /* Further adjust width for even smaller screens */
    height: 6vh; /* Further adjust height for even smaller screens */
  }
}
