<div class="icon-container">
  <p-toast></p-toast>
  <div class="circle">
    <i
      class="pi pi-home"
      (click)="goHome()"
      [ngStyle]="{ color: '#4a4d57', 'font-size': '2.2rem' }"
    ></i>
  </div>
</div>
<div class="main-div">
  <div *ngIf="pages && pages.length > 0; else notFound" class="card-category-1">
    <div *ngFor="let page of pages" class="basic-card basic-card-aqua">
      <div class="card-content">
        <span class="card-title"></span>
        <p class="card-text">
          <code class="language-html">{{ page.html_code.slice(0, 30) }}</code>
        </p>
      </div>

      <div class="card-link">
        <a
          [routerLink]="['/admin-review']"
          [queryParams]="{ _id: page._id }"
          title="Read Full"
          ><span>Read Full</span></a
        >
      </div>
    </div>
  </div>

  <ng-template #notFound>
    <h2 class="error-text">No posts</h2>
  </ng-template>
</div>
