.button-style {
  margin-top: 20px;
  width: 8vw;
  height: 4vh;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
}
:host >>> .p-toast-message {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px dotted white;
}

:host >>> .p-toast-icon-close {
  color: white;
}

@media screen and (max-width: 768px) {
  .button-style {
    width: 50%;
    height: auto;
    margin: 10px auto;
  }
}
