.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  flex: 1 1 80%;
  box-sizing: border-box;
}

.first-column {
  margin-right: 350px;
}

.second-column {
  position: fixed;
  top: 80;
  right: 0;
  width: 500px; /* Fixed width of the second column */
  height: 100%; /* Fill the entire height */
  overflow-y: auto; /* Enable vertical scrolling */
}
