<!-- <pre><code class="language-html"><div class="main-div">
  
</div></code></pre> -->

<div class="main-div">
  <div *ngIf="pages && pages.length > 0; else notFound" class="card-category-1">
    <div *ngFor="let page of pages" class="basic-card basic-card-aqua">
      <div class="card-content">
        <span class="card-title"></span>
        <p class="card-text">
          <code class="language-html">{{ page.html_code.slice(0, 30) }}</code>
        </p>
      </div>

      <div class="card-link">
        <a
          [routerLink]="['/explore-detail-feed']"
          [queryParams]="{ _id: page._id }"
          title="Read Full"
          ><span>Read Full</span></a
        >
      </div>
    </div>
  </div>

  <ng-template #notFound>
    <h2>404 - No posts found</h2>
  </ng-template>
</div>
