<nav class="navbar">
  <div class="brand-title">NoteNexus</div>
  <div class="navbar-links">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about-us" routerLinkActive="active">About</a></li>
      <li>
        <a routerLink="/explore-feed" routerLinkActive="active">Explore</a>
      </li>
      <li *ngIf="!role">
        <a routerLink="/signup" routerLinkActive="active">Signup</a>
      </li>
      <li *ngIf="role == 'user'">
        <a routerLink="/userdashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li *ngIf="role == 'admin'">
        <a routerLink="/admindashboard" routerLinkActive="active">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>
