<div class="center-main">
  <div *ngIf="content; else notFound">
    <div class="content">
      <pre
        class="code-block"
      ><code class="language-html">{{ content.html_code }}</code></pre>
    </div>
    <div class="content">
      <pre
        class="code-block"
      ><code class="language-css">{{ content.css_code }}</code></pre>
    </div>
    <div class="content">
      <pre
        class="code-block"
      ><code class="language-javascript">{{ content.javascript_code }}</code></pre>
    </div>
  </div>
</div>
<ng-template #notFound>
  <h2>404 - No posts found</h2>
</ng-template>
